# Read config/settings.py for more info
FLASK_DEBUG="True"
SECRET_KEY="mysecretkey"
SQLALCHEMY_DATABASE_URI="sqlite:///project.db"
CELERY_BROKER_URL="redis://redis:6379/0"
CELERY_RESULT_BACKEND="redis://redis:6379/1"
